<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/CementGrinding4/template.jpg'); width: 1328px; height: 980px; ">

    <input id="D1" type="text"  style="position:absolute; top: 171px; left: 581px; width: 60px; "/>
    <input id="D2" type="text"  style="position:absolute; top: 171px; left: 760px; width: 60px;"/>
    <input id="D3" type="text"  style="position:absolute; top: 204px; left: 581px; width: 60px;"/>

    <input id="D4" type="text"  style="position:absolute; top: 274px; left: 140px; width: 60px;"/>
    <input id="D5" type="text"  style="position:absolute; top: 303px; left: 140px; width: 60px;"/>
    <input id="D6" type="text"  style="position:absolute; top: 376px; left: 140px; width: 60px;"/>
    <input id="D7" type="text"  style="position:absolute; top: 408px; left: 140px; width: 60px;"/>
    <input id="D8" type="text"  style="position:absolute; top: 481px; left: 140px; width: 60px;"/>
    <input id="D9" type="text"  style="position:absolute; top: 520px; left: 140px; width: 60px; "/>
    <input id="D10" type="text" style="position:absolute; top: 600px; left: 140px; width: 60px; " />
    <input id="D11" type="text"  style="position:absolute; top: 629px; left: 140px; width: 60px;"/>
    <input id="D12" type="text" style="position:absolute; top: 706px; left: 140px; width: 60px;"/>
    <input id="D13" type="text" style="position:absolute; top: 732px; left: 140px; width: 60px;"/>
    <input id="D14" type="text" style="position:absolute; top: 812px; left:140px; width: 60px;"/>
    <input id="D15" type="text" style="position:absolute; top: 841px; left: 140px; width: 60px;"/>

    <input id="D16" type="text" style="position:absolute; width: 60px; top: 270px; left: 1182px; "/>
    <input id="D17" type="text" style="position:absolute; width: 60px; top: 301px; left: 1182px; "/>
    <input id="D18" type="text" style="position:absolute; width: 60px; top: 374px; left: 1182px; "/>
    <input id="D19" type="text" style="position:absolute; width: 60px; top: 404px; left: 1182px; "/>
    <input id="D20" type="text" style="position:absolute; width: 60px; top: 480px; left: 1182px; "/>
    <input id="D21" type="text" style="position:absolute; width: 60px; top: 553px; left: 1182px; "/>
    <input id="D22" type="text" style="position:absolute; width: 60px; top: 629px; left: 1182px; "/>
    <input id="D23" type="text" style="position:absolute; width: 60px; top: 684px; left: 1183px; "/>
    <input id="D24" type="text" style="position:absolute; width: 60px; top: 779px; left: 1182px; "/>





</div>