<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/CementGrinding2/template.jpg'); width: 1558px; height: 951px;">

    <input id="B1" type="text"  style="position:absolute; top: 153px; left: 702px; width: 60px; "/>
    <input id="B2" type="text"  style="position:absolute; top: 153px; left: 880px; width: 60px;"/>
    <input id="B3" type="text"  style="position:absolute; top: 185px; left: 702px; width:60px;"/>
    <input id="B4" type="text"  style="position:absolute; top: 210px; left: 114px; width:60px;"/>
    <input id="B5" type="text"  style="position:absolute; top: 241px; left: 114px; width: 60px;"/>
    <input id="B6" type="text"  style="position:absolute; top: 310px; left: 114px; width: 60px;"/>
    <input id="B7" type="text"  style="position:absolute; top: 340px; left: 114px; width: 60px;"/>
    <input id="B8" type="text"  style="position:absolute; top: 425px; left: 114px; width:60px;"/>
    <input id="B9" type="text"  style="position:absolute; top: 458px; left: 114px; width: 60px; "/>
    <input id="B10" type="text" style="position:absolute; top: 536px; left: 114px; width: 60px; " />
    <input id="B11" type="text"  style="position:absolute; top: 567px; left: 114px; width: 60px;"/>
    <input id="B12" type="text" style="position:absolute; top: 660px; left: 114px; width: 60px; "/>
    <input id="B13" type="text" style="position:absolute; top: 691px; left: 114px; width: 60px;"/>
    <input id="B14" type="text" style="position:absolute; top: 768px; left: 114px; width: 60px;"/>
    <input id="B15" type="text" style="position:absolute; top: 798px; left: 114px; width: 60px;"/>

    <input id="B16"  type="text"   style="position:absolute; width: 60px; top: 245px; left: 1423px; "/>
    <input id="B17" type="text"  style="position:absolute; top: 333px; left: 1423px; width: 60px;"/>
    <input id="B18" type="text"  style="position:absolute; top: 409px; left: 1423px; width: 60px;"/>
    <input id="B19" type="text"  style="position:absolute; top: 486px; left: 1423px; width: 60px;"/>
    <input id="B20" type="text"  style="position:absolute; top: 562px; left: 1423px; width: 60px;"/>
    <input id="B21" type="text"  style="position:absolute; top: 633px; left: 1423px; width: 60px;"/>
    <input id="B22" type="text"  style="position:absolute; top: 707px; left: 1423px; width: 60px;"/>






</div>