<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/GrateCooler/template.jpg'); width: 1567px; height: 733px; ">
    <input id="F1" type="text"  style="position:absolute; top: 111px; left: 78px; width: 68px; "/>
    <input id="F2" type="text"  style="position:absolute; top: 141px; left:77px; width: 68px;"/>
   
    <input id="F3" type="text"  style="position:absolute; top: 249px; left: 78px; width: 68px;"/>
    <input id="F4" type="text"  style="position:absolute; top: 278px; left: 77px; width: 68px;"/>
    <input id="F5" type="text"  style="position:absolute; top: 342px; left: 77px; width: 68px;" />
    <input id="F6" type="text"  style="position:absolute; top: 373px; left: 77px; width: 68px;"/>
    <input id="F7" type="text"  style="position:absolute; top: 438px; left: 77px; width: 68px;"/>
    <input id="F8" type="text"  style="position:absolute; top: 468px; left: 77px; width: 68Px;"/>
    <input id="F9" type="text" style="position:absolute; top: 533px; left: 77px; width: 68px; "/>
    <input id="F10" type="text" style="position:absolute; top: 561px; left: 77px; width: 68px;" />
    <input id="F11" type="text" style="position:absolute; top: 625px; left: 77px; width:68px;"/>
    <input id="F12" type="text" style="position:absolute; top: 657px; left: 77px; width: 68px;"/>

    <input id="F13" type="text" style="position:absolute; top: 94px; left: 1461px; width: 68px;" />
    <input id="F14" type="text" style="position:absolute; top: 126px; left: 1461px; width: 68px;" />
    <input id="F15" type="text" style="position:absolute; top: 185px; left: 1461px; width: 68px;"/>
    <input id="F16" type="text" style="position:absolute; top: 217px; left: 1461px; width: 68px;"/>
    <input id="F17" type="text" style="position:absolute; top: 281px; left: 1461px; width: 68px;" />
    <input id="F18" type="text" style="position:absolute; top: 311px; left: 1461px; width: 68px;" />
    <input id="F19" type="text" style="position:absolute; top: 376px; left: 1461px; width: 68px;" />
    <input id="F20" type="text" style="position:absolute; top: 407px; left: 1461px; width: 68px;" />
    <input id="F21" type="text" style="position:absolute; top: 471px; left: 1461px; width: 68px;" />
    <input id="F22" type="text" style="position:absolute; top: 504px; left: 1461px; width: 68px;" />
    <input id="F23" type="text" style="position:absolute; top: 568px; left: 1461px; width: 68px;" />
    <input id="F24" type="text" style="position:absolute; top: 597px; left: 1461px; width: 68px;" />
    <input id="F25" type="text"  style="position:absolute; top: 662px; left: 1461px; width: 68px;" />
    <input id="F26" type="text"  style="position:absolute; top: 691px; left: 1461px; width: 68px;" />

    <input id="F27" type="text"  style="position:absolute; top: 160px; left: 991px; width: 68px;" />
    <input id="F28" type="text"  style="position:absolute; top: 160px; left: 1149px; width: 68px;" />
    <input id="F29" type="text"  style="position:absolute; top: 191px; left: 991px; width: 68px;" />
    <input id="F30" type="text"  style="position:absolute; top: 191px; left: 1149px; width: 68px;" />


</div>