<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/CoalMill/template.jpg'); width: 1565px; height: 773px; top: 0px; left: 0px;">

    <input id="E1" type="text" style="position:absolute; top: 86px; left: 615px; width: 66px;" />
    <input id="E2" type="text" style="position:absolute; top: 86px; left: 825px; width: 66px;" />
    <input id="E3" type="text" style="position:absolute; width: 66px; top: 117px; left: 675px;" />

    <input id="E4" type="text" style="position:absolute; top: 82px; left: 74px; width: 66px; " />
    <input id="E5" type="text" style="position:absolute; top: 112px; left: 74px; width: 66px;" />
    <input id="E6" type="text" style="position:absolute; top: 263px; left: 74px; width: 66px;" />
    <input id="E7" type="text" style="position:absolute; top: 294px; left:74px; width: 66px;" />
    <input id="E8" type="text" style="position:absolute; top: 429px; left: 74px; width: 66px;" />
    <input id="E9" type="text" style="position:absolute; top: 461px; left: 74px; width: 66px; " />

    <input id="E10" type="text" style="position:absolute; top: 102px; left: 1463px; width: 66px;" />
    <input id="E11" type="text" style="position:absolute; top: 135px; left: 1463px; width: 66px;" />
    <input id="E12" type="text" style="position:absolute; top: 197px; left: 1458px; width: 66px;" />
    <input id="E13" type="text" style="position:absolute; top: 298px; left: 1454px; width: 66px;" />
    <input id="E14" type="text" style="position:absolute; top: 332px; left: 1454px; width: 66px; " />
    <input id="E15" type="text" style="position:absolute; top: 432px; left: 1459px; width: 66px;" />
    <input id="E16" type="text" style="position:absolute; top: 475px; left: 1459px; width: 66px;" />
    <input id="E17" type="text" style="position:absolute; top: 563px; left: 1446px; width: 66px;" />
    <input id="E18" type="text" style="position:absolute; top: 598px; left: 1446px; width: 66px;" />
    <input id="E19" type="text" style="position:absolute; top: 632px; left: 1446px; width: 66px;" />
    <input id="E20" type="text" style="position:absolute; top: 660px; left: 1446px; width: 66px;" />







</div>