<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/Kiln/template.jpg'); width: 1550px; height: 960px;">
    <input id="G1" type="text"  style="position:absolute; top: 62px; left: 705px; width: 63px;"/>
    <input id="G2" type="text"  style="position:absolute; top: 105px; left: 705px; width: 63px;"/>
    <input id="G3" type="text"  style="position:absolute; top: 105px; left: 1031px; width: 63px;"/>
    <input id="G4" type="text"  style="position:absolute; top: 144px; left: 705px; width: 63px;"/>

    <input id="G5" type="text"  style="position:absolute; top: 59px; left: 117px; width: 63px;"/>
    <input id="G6" type="text"  style="position:absolute; top: 89px; left: 117px; width: 63px;"/>      
    <input id="G7" type="text"  style="position:absolute; top: 120px; left: 117px; width: 63px; "/>
    <input id="G8" type="text"  style="position:absolute; top: 204px; left: 117px; width: 63px;"/>
    <input id="G9" type="text"  style="position:absolute; top: 239px; left: 117px; width: 63px;"/>
    <input id="G10" type="text"  style="position:absolute; top: 277px; left: 117px; width: 63px;"/>
    <input id="G11" type="text"  style="position:absolute; top: 310px; left: 117px; width: 63px;"/>
    <input id="G12" type="text"  style="position:absolute; top: 361px; left: 117px; width: 63px;"/>
    <input id="G13" type="text"  style="position:absolute; top: 393px; left: 117px; width: 63px;"/>
    <input id="G14" type="text" style="position:absolute; top: 428px; left: 117px; width: 63px;"/>
    <input id="G15" type="text" style="position:absolute; top: 463px; left: 117px; width: 63px;"/>
    <input id="G16" type="text" style="position:absolute; top: 498px; left: 117px; width: 63px;"/>
    <input id="G17" type="text" style="position:absolute; top: 534px; left: 117px; width: 63px;"/>
    <input id="G18" type="text" style="position:absolute; top: 617px; left: 117px; width: 63px;"/>   
    <input id="G19" type="text" style="position:absolute; top: 699px; left: 117px; width: 63px;"/>
    <input id="G20" type="text" style="position:absolute; top: 775px; left: 117px; width: 63px;"/>
    <input id="G21" type="text" style="position:absolute; top: 807px; left: 117px; width: 63px;"/>

    <input id="G22" type="text" style="position:absolute; left: 1410px; width: 63px; top: 142px;"/>
    <input id="G23" type="text" style="position:absolute; top: 206px; left: 1410px; width: 63px; "/>
    <input id="G24" type="text" style="position:absolute; top: 236px; left: 1410px; width: 63px;"/>
    <input id="G25" type="text" style="position:absolute; top: 298px; left:  1410px; width: 63px;"/>
    <input id="G26" type="text" style="position:absolute; top: 328px; left:  1410px; width: 63px;"/>
    <input id="G27" type="text" style="position:absolute; top: 395px; left:  1410px; width: 63px;"/>
    <input id="G28" type="text" style="position:absolute; top: 428px; left:  1410px; width: 63px;"/>
    <input id="G29" type="text" style="position:absolute; top: 563px; left:  1410px; width: 63px;"/>
    <input id="G30" type="text" style="position:absolute; top: 630px; left:  1410px; width: 63px;"/>
    <input id="G31" type="text" style="position:absolute; top: 662px; left:  1410px; width: 63px;"/>
    <input id="G32" type="text" style="position:absolute; top: 743px; left:  1410px; width: 63px;"/>
    <input id="G33" type="text" style="position:absolute; top: 774px; left:  1410px; width: 63px;"/>
   



</div>
