<div style="position:relative; background-image: url('../../../../Monitoring/PowerEquipment/Template/RawMill/template.jpg'); width: 1328px; height: 931px; top: 0px; left: 0px;">
 
     <input id="H1" type="text"   style="position:absolute; top: 147px; left: 610px; width: 65px;"/>
     <input id="H2" type="text"   style="position:absolute; top: 191px; left: 637px; width:  65px;"/>

     <input id="H3" type="text"   style="position:absolute; top: 179px; left:106px; width:  64px;"/>
     <input id="H4" type="text"   style="position:absolute; top: 209px; left:  106px; width:  64px;"/>
     <input id="H5" type="text"   style="position:absolute; top: 290px; left:106px; width:  64px;"/>
     <input id="H6" type="text"   style="position:absolute; top: 323px; left: 106px; width:  64px;"/>
     <input id="H7" type="text"   style="position:absolute; top: 412px; left: 106px; width:  64px;"/>
     <input id="H8" type="text"   style="position:absolute; top: 443px; left:  106px; width:  64px;"/>
     <input id="H9" type="text"   style="position:absolute; top: 523px; left:106px; width:  64px;"/>
     <input id="H10" type="text"  style="position:absolute; top: 593px; left: 106px; width: 64px;"/>
     <input id="H11" type="text"  style="position:absolute; top: 627px; left: 106px; width:  64px;"/>
     <input id="H12" type="text"  style="position:absolute; top: 701px; left: 106px; width:  64px;"/>
     <input id="H13" type="text"  style="position:absolute; top: 732px; left: 106px; width:  64px;"/>
     <input id="H14" type="text"  style="position:absolute; top: 762px; left: 106px; width:  64px;"/>
     <input id="H15" type="text"  style="position:absolute; top: 793px; left: 106px; width:  64px;"/>
     <input id="H16" type="text"  style="position:absolute; top: 824px; left: 106px; width:  64px;"/>
     <input id="H17" type="text"  style="position:absolute; top: 854px; left: 106px; width:  64px;"/>

     <input id="H18" type="text"  style="position:absolute; top: 238px; left: 1211px; width:  65px;"/>
     <input id="H19" type="text"  style="position:absolute; top: 269px; left: 1211px; width:  65px;"/>
     <input id="H20" type="text"  style="position:absolute; top: 331px; left: 1211px; width:  65px;"/>
     <input id="H21" type="text"  style="position:absolute; top: 362px; left: 1211px; width:  65px;"/>
     <input id="H22" type="text"  style="position:absolute; top: 426px; left: 1211px; width:  65px;"/>
     <input id="H23" type="text"  style="position:absolute; top: 459px; left: 1211px; width:  65px;"/>
     <input id="H24" type="text"  style="position:absolute; top: 562px; left: 1211px; width:  65px;"/>
     <input id="H25" type="text"  style="position:absolute; top: 593px; left: 1211px; width:  65px;"/>
     <input id="H26" type="text"  style="position:absolute; top: 655px; left: 1211px; width:  65px;"/>
     <input id="H27" type="text"  style="position:absolute; top: 686px; left: 1211px; width:  65px;"/>
     <input id="H28" type="text"  style="position:absolute; top: 754px; left: 1211px; width:  65px;"/>
     <input id="H29" type="text"  style="position:absolute; top: 786px; left: 1211px; width:  65px;"/>
     <input id="H30" type="text"   style="position:absolute; top: 147px; left: 858px; width: 65px;"/>
  


</div>